<section class="py-16 px-4 text-center bg-white">
  <h2 class="text-3xl font-bold text-[#f37021] mb-8">
    Trabajamos con las mejores marcas
  </h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-x-4 gap-y-8 place-items-center px-4">
    <img src="/img/truper.png" alt="Truper" class="h-16 object-contain" />
    <img src="/img/wurth.png" alt="Würth" class="h-16 object-contain" />
    <img src="/img/3m.png" alt="3M" class="h-16 object-contain" />
    <img src="/img/wd40.png" alt="WD-40" class="h-16 object-contain" />
    <img src="/img/pegaduro.png" alt="Pegaduro" class="h-16 object-contain" />
    <img src="/img/volteck.png" alt="Volteck" class="h-16 object-contain" />
    <img src="/img/fiero.png" alt="Fiero" class="h-16 object-contain" />
    <img src="/img/sayer.png" alt="Sayer" class="h-16 object-contain" />
  </div>
</section>
