---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>surtidora ferretera & espacio ceramico</title>
    <link rel="icon" type="image/png" href="/img/SF-logo.png" />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">

  </head>
  <body class="font-sans bg-white text-gray-800">
    <NavBar />
    
    <slot />

    <footer class="bg-onyx text-white text-center p-4 text-sm md:text-base">
      © 2025 Surtidora Ferretera & Espazzio Ceramico. Todos los derechos reservados.
    </footer>
  </body>
</html>